@*@model List<FileToConvetModel>
*@


<h1>Buffered File Upload</h1>
<a asp-controller="Home" asp-action="index">Home</a>
<br />
<a asp-controller="Account" asp-action="Logout">Log off</a>
<br />

<hr />

<form asp-controller="File" asp-action="Upload" method="post" enctype="multipart/form-data">
    <input type="file" name="file" />
    <button type="submit">Upload File</button>
</form>


<form asp-controller="File" asp-action="Process" method="post" enctype="multipart/form-data">
    <button type="submit">Process File</button>
</form>

Process

@if (ViewBag.Message != null)
{
    <div class="alert" style="margin-top:20px">
        @ViewBag.Message
    </div>
}



<style>
    .li_container{
        background-color: grey;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 10px;
    }
    .content{
        margin-right: 20px;
    }
</style>



<form asp-controller="File" asp-action="Delete_All_Uploaded" method="post" enctype="multipart/form-data">
    <button type="submit"><h1>Delete_All_Uploaded</h1></button>
</form>
<ul>
    @if (ViewBag.DBFilesToConvert != null)
    {
        @foreach (var item in ViewBag.DBFilesToConvert)
        {
            <li>
                <div class="li_container">
                    <div class="content"><h2>@item.Title</h2></div>

                    <div class="itemContainer">
                        <form asp-controller="File" asp-action="DeleteUploaded" asp-route-fullpath="@item.FullPath" method="post" enctype="multipart/form-data">
                            <button type="submit">Delete</button>
                        </form>
                    </div>
                </div> 

            </li>
            
        }   
    }
   
</ul 


<h1>===============================================</h1>


<br />
<form asp-controller="File" asp-action="Delete_All_Converted" method="post" enctype="multipart/form-data">
    <button type="submit"><h1>Delete_All_Converted</h1></button>
</form>
<ul>
    @if (ViewBag.DBConvertedFiles != null)
    {
        @foreach (var item in ViewBag.DBConvertedFiles)
        {
            <li>
                <div class="li_container">
                    <div class="content"><h2>@item.Title</h2></div>

                    <div class="itemContainer">
                        <form asp-controller="File" asp-action="DeleteConverted" asp-route-fullpath="@item.FullPath" method="post" enctype="multipart/form-data">
                            <button type="submit">Delete</button>
                        </form>
                    </div>
                    <div class="itemContainer">
                        <form asp-controller="File" asp-action="Download" asp-route-fullpath="@item.FullPath" asp-route-title="@item.Title" method="post" enctype="multipart/form-data">
                            <button type="submit">Download</button>
                        </form>
                    </div>
                </div> 
            </li>      
        }  
    }
     
</ul 